{% extends '@templates/layouts/auth.twig' %}

{% block title %}Forgot Password{% endblock %}
{% block body_class %}page--forgot-password{% endblock %}

{% block body %}
	<div class="forgot-password">
		<div class="forgot-password__content">
			<p class="form-copy">Forgot Password?</p>
			<form action="/" method="post">
				<div class="input-block">
					<label for="email">Enter your email</label>
					<input type="email" id="email">
				</div>
				<button class="button button--blue" type="submit">Reset Password</button>
			</form>
		</div>
	</div>
{% endblock %}
