$breakpoints: (
	small: 320px,
	large: 1024px,
);


/**
 * FUNCTIONS
 */

@function breakpoint-exists($breakpoint-name) {
	@return map-has-key($breakpoints, $breakpoint-name);
}

@function get-breakpoint($breakpoint-name) {
	@if ( breakpoint-exists($breakpoint-name) ) {
		@return map-get($breakpoints, $breakpoint-name);
	}
}



/**
 * MIXINS
 */

@mixin from($breakpoint-name) {
	@media (min-width: get-breakpoint($breakpoint-name)) {
		@content;
	}
}

@mixin below($breakpoint-name) {
	@media (max-width: (get-breakpoint($breakpoint-name) - 1px)) {
		@content;
	}
}
