$page-margin-mobile: 20px;

.main {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.body {
	flex-grow: 1;

	>:first-child {
		padding-top: 70px;

		@include from(large) {
			padding-top: 80px;
		}
	}
}

/**
 * MIXINS
 */

 @mixin container {
 	max-width: 1500px;
 	margin-left: $page-margin-mobile;
 	margin-right: $page-margin-mobile;

 	@include from(xlarge) {
 		margin-left: auto;
 		margin-right: auto;
 	}
 }
