$page-margin-mobile: 10px;

html,
body,
.main {
	min-height: 100vh;
}

.body >:first-child {
	padding-top: 70px;

	@include from(large) {
		padding-top: 80px;
	}
}

/**
 * MIXINS
 */

 @mixin container {
 	max-width: 1500px;
 	margin-left: auto;
 	margin-right: auto;
 }
