<footer class="footer">
	<div class="footer__content">
		<div class="footer__corporate">
			<div href="/" class="footer__brand">
				<img class="footer__logo" src="/images/logo.svg" alt="">
				<img class="footer__company" src="/images/company.svg" alt="">
			</div>
			<p class="footer__tagline">
				A platform to help you and your business grow!
			</p>
		</div>
		<div class="footer__columns">
			<div class="footer__column">
				<p class="footer__column-heading">Company</p>
				<p class="footer__links">
					<a href="/about.html" class="footer__link">About</a>
					<a href="/careers.html" class="footer__link">Careers</a>
					<a href="/contact.html" class="footer__link">Contact</a>
					<a href="/terms.html" class="footer__link">Terms of Use</a>
					<a href="/privacy-policy.html" class="footer__link">Privacy Policy</a>
				</p>
			</div>
			<div class="footer__column">
				<p class="footer__column-heading">Product</p>
				<p class="footer__links">
					<a class="footer__link" href="/app.html">App</a>
					<a class="footer__link" href="/features.html">Features</a>
					<a class="footer__link" href="/support.html">Support</a>
				</p>
			</div>
			<div class="footer__column">
				<p class="footer__column-heading">Solutions</p>
				<p class="footer__links">
					<a class="footer__link" href="/barbershops.html">Barbershops</a>
					<a class="footer__link" href="/salons.html">Salons</a>
					<a class="footer__link" href="/side-gig.html">Side Gig</a>
					<a class="footer__link" href="/freelancers.html">Freelancers</a>
					<a class="footer__link" href="/cafe.html">Cafe</a>g
				</p>
			</div>
		</div>
	</div>
	<div class="footer__copyright">
		Copyright © 2019 Wemu Inc., All rights reserved.
	</div>
</footer>
