<div class="home-section home-section-c">
	<div class="home-section__content">
		<div class="home-section__copy">
			<h3 class="home-section__heading">Keep things moving!</h3>
			<p class="home-section__body">
				Wemu comes with built-in reminders that keep you on track and mitigate stress. Remember, it's more than a data-capturing software—it's your companion. Wemu helps you to be productive and stay motivated.
			</p>
		</div>
		<div class="home-section__image">
			<img src="/images/homepage-section-c-image-small.svg" alt="" class="home-section__image__small">
			<img src="/images/homepage-section-c-image-large.svg" alt="" class="home-section__image__large">
		</div>
		<div class="home-section__floater">
			<img src="/images/floater-laptop.svg" alt="" class="home-section__floater__small">
			<img src="/images/floater-mobile.svg" alt="" class="home-section__floater__large">
		</div>
	</div>
</div>
