<div class="home-section home-section-a">
	<div class="home-section__content">
		<div class="home-section__copy">
			<h3 class="home-section__heading">Starting a business can be challenging. </h3>
			<p class="home-section__body">
				From handling customers to staying on top of marketing, sales, employee management & everything in between, maintaining business operations can be daunting. We’re here to help you. 
			</p>
		</div>
		<div class="home-section__image">
			<img src="/images/homepage-section-a-image-small.svg" alt="" class="home-section__image__small">
			<img src="/images/homepage-section-a-image-large.svg" alt="" class="home-section__image__large">
		</div>
		<div class="home-section__floater">
			<img src="/images/floater-mobile.svg" alt="" class="home-section__floater__small">
			<img src="/images/floater-tablet.svg" alt="" class="home-section__floater__large">
		</div>
	</div>
</div>
