<div class="home-hero">
	<div class="home-hero__content">
		<img src="/images/company.svg" alt="" class="home-hero__company">
		<p class="home-hero__tagline">A platform to help you and your business grow!</p>
		<p class="home-hero__copy">Scroll to learn more or <a href="javascript:;">watch the video</a></p>
		<img src="/images/floater-tablet.svg" alt="" class="home-hero__floater">
	</div>
</div>
