<div class="home-section home-section-b">
	<div class="home-section__content">
		<div class="home-section__copy">
			<h3 class="home-section__heading">Everything you need, in one app.</h3>
			<p class="home-section__body">
				We understand your needs & have designed Wemu to anticipate them. Wemu assists in your growth by giving you the components you need.
			</p>
			<ul class="home-section__list">
				<li class="home-section__list-item"><span>Point of Sales</span></li>
				<li class="home-section__list-item"><span>Product Inventory</span></li>
				<li class="home-section__list-item"><span>Invoice</span></li>
				<li class="home-section__list-item"><span>Reports</span></li>
				<li class="home-section__list-item"><span>Marketing</span></li>
				<li class="home-section__list-item"><span>E-commerce</span></li>
				<li class="home-section__list-item"><span>Employee Management and much more…</span></li>
			</ul>
		</div>
		<div class="home-section__image">
			<img src="/images/homepage-section-b-image-small.svg" alt="" class="home-section__image__small">
			<img src="/images/homepage-section-b-image-large.svg" alt="" class="home-section__image__large">
		</div>
		<div class="home-section__floater">
			<img src="/images/floater-tablet-b.svg" alt="" class="home-section__floater__small">
			<img src="/images/floater-mobile.svg" alt="" class="home-section__floater__large">
		</div>
	</div>
</div>
