<div class="home-section home-section-d">
	<div class="home-section__content">
		<div class="home-section__copy">
			<h3 class="home-section__heading">Time to thrive!</h3>
			<p class="home-section__body">
				Wemu facilitates prosperity for solopreneurs and small business owners. You are also gaining access to the Discovery app. With Discover, your business becomes highly visible to your local community, allowing you to establish new customers and create important partnerships.
			</p>
		</div>
		<div class="home-section__image">
			<img src="/images/homepage-section-d-image-small.svg" alt="" class="home-section__image__small">
			<img src="/images/homepage-section-d-image-large.svg" alt="" class="home-section__image__large">
		</div>
		<div class="home-section__floater">
			<img src="/images/floater-laptop-b.svg" alt="" class="home-section__floater__large">
		</div>
	</div>
</div>
