@import url('../_base.css');
@import url('_buttons.css');

/**
 * BASE STYLES
 * =============================================================================
 */

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	transition: transform .3s ease;
	padding: 20px var(--page-margin-mobile);
}

.header__content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__brand {
	display: block;
	font-size: 0;
}

.header__nav-toggle {
	min-width: 25px;
}

.nav {
	position: absolute;
	top: 60px;
	left: 0;
	right: 0;
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
	will-change: transform;
	transform: translateY(-20px);
	transition: visibility .3s ease,
							opacity .3s ease,
							transform .3s ease;
}

.header--expanded .nav {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	transform: none;
}

.nav__primary {
	padding: 30px var(--page-margin-mobile);
}

.nav__primary__item {
	display: block;
	font-family: var(--font-primary);
	color: var(--color-dark-gray-1);
	font-size: 18px;
	line-height: 2.5;
	letter-spacing: 1.29px;
}

.nav__primary__item--large-only {
	display: none;
}

.nav__secondary {
	padding: 10px var(--page-margin-mobile) 30px;
	background-color: var(--color-light-gray-1);
}

.nav__secondary__label {
	font-family: var(--font-primary-bold);
	font-size: 12px;
	letter-spacing: .86px;
	line-height: 3;
	color: var(--color-gray);
}

.nav__secondary__item {
	position: relative;
	display: block;
	color: var(--color-black);
	font-family: var(--font-primary);
	font-size: 12px;
	letter-spacing: 1px;
	padding: 5px 0;
}

/* Nav item icon */
.nav__secondary__item::before {
	content: '';
	display: inline-block;
	position: relative;
	width: 1.2em;
	height: 1.2em;
	background-size: contain;
	margin-right: 18px;
	background-repeat: no-repeat;
	background-position: center;
}

.nav__secondary__item--barber::before {
	background-image: url(/assets/images/barber.svg);
	
}
.nav__secondary__item--tools::before {
	background-image: url(/assets/images/tools.svg);
	
}
.nav__secondary__item--gym::before {
	background-image: url(/assets/images/gym.svg);
	
}
.nav__secondary__item--imac::before {
	background-image: url(/assets/images/imac.svg);
	
}
.nav__secondary__item--mug::before {
	background-image: url(/assets/images/mug.svg);
	
}
.nav__secondary__item--shop::before {
	background-image: url(/assets/images/shop.svg);
	
}

.header__auth {
	display: flex;
}

.header__auth__button--hides {
	display: none;
}


/**
 * LARGE STYLES
 * =============================================================================
 */

@media (min-width: var(--breakpoint-large)) {
	.nav {
		position: relative;
	}
}
