form {
	& button,
	& .button {
		padding: 0 15px;
		min-width: 200px;
		height: 54px;
		border-radius: 30px;
	}
}

.form-copy {
	@include font-primary;
	font-size: 24px;
	text-align: center;
	margin-bottom: 56px;
}

.form-subcopy {
	@include font-primary;
	font-size: 18px;
	text-align: center;
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.input-block {
	width: 100%;
	text-align: left;
	margin-top: 30px;

	&--inline {
		display: inline-flex;
	}

	label {
		@include font-primary;
		display: block;
		font-size: 14px;
		line-height: 31px;
		letter-spacing: 1.17px;
		color: $color-gray;
	}

	input:matches([type="text"], [type="email"], [type="password"]) {
		display: block;
		width: 100%;
		padding: 0 20px;
		height: 54px;
		border-radius: 27px;
		-webkit-appearance: none;
		border: 1px solid $color-light-gray-2;
		font-size: 16px;
	}

	input[type="checkbox"] {
		display: flex;
		justify-content: center;
		align-items: center;
		-webkit-appearance: none;
		width: 32px;
		height: 32px;
		border-radius: 6px;
		border: 1px solid $color-light-gray-2;
		margin-right: 10px;
		transition: background-color .3s;
		cursor: pointer;

		&::after {
			content: '✓';
			font-size: 30px;
			color: $color-white;
			opacity: 0;
			transition: opacity .3s;
		}

		&:checked {
			background-color: $color-light-gray-2;

			&::after {
				opacity: 1;
			}
		}
	}
}
