.home-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	min-height: 100vh;
	padding: 20px 0;

	@include from(medium) {
		min-height: 600px;
		padding: 50px 0;
	}

	@include from(large) {
		min-height: 640px;
		padding: 100px 0;
	}

	&__content {
		@include container;

		@include from(medium) {
			display: flex;
			align-items: center;
			padding-left: 80px;
			padding-right: 80px;
		}

		@include from(large) {
			position: relative;
		}
	}

	&__copy {
		z-index: 5;
		position: relative;
	}

	&__heading {
		@include font-primary-bold;
		@include type((
			font-size: 18px,
			letter-spacing: .98px,
			line-height: 22px,
		));

		@include from(medium) {
			font-size: 24px;
		}
	}

	&__body {
		@include font-primary;
		@include type((
			font-size: 14px,
			letter-spacing: 1px,
			line-height: 21px,
		));
		margin-top: 13px;

		@include from(medium) {
			font-size: 16px;
			margin-top: 16px;
			padding-right: 23px;
		}
	}

	&__list {
		@include font-primary;
		@include type((
			font-size: 14px,
			letter-spacing: 1.17px,
		));
		list-style-type: none;
		margin-top: 20px;

		&-item {
			display: flex;
			align-items: flex-start;

			&::before {
				content: '';
				flex-shrink: 0;
				width: em(17/14);
				height: em(17/14);
				background-image: url(/images/checkmark.svg);
				background-size: contain;
				background-repeat: no-repeat;
				background-position: center;
				margin-top: em(7/14);
				margin-right: em(17/14);
			}
		}
	}

	&__image {
		margin-top: 20px;
		flex-shrink: 0;

		img {
			width: 100%;
		}

		&__small {
			display: block;

			@include from(medium) {
				display: none;
			}
		}

		&__large {
			@include below(medium) {
				display: none;
			}
		}
	}

	&__floater {
		position: relative;
		pointer-events: none;

		@include from(medium) {
			position: absolute;
			top: 50%;
			width: 100%;
		}

		&__small {
			display: block;

			@include from(medium) {
				display: none;
			}
		}

		&__large {
			@include below(medium) {
				display: none;
			}
		}

		img {
			width: 100%;
			position: absolute;
		}
	}
}

// HOMEPAGE SECTION A

.home-section-a {
	.home-section {
		&__copy {
			@include from(medium) {
				margin-right: percentage(90/800);
			}
		}

		&__image {
			@include from(medium) {
				width: 40%;
				flex-shrink: 0;
			}

			@include from(xlarge) {
				width: percentage(390/800);
				margin-right: percentage(-154/800);
			}
		}

		&__floater {
			img {
				width: percentage(160/280);
				right: percentage(-8/280);
				bottom: -50px;

				@include from(medium) {
					width: percentage(800/760);
					right: calc(100% - 80px);
					bottom: 50%;
					transform: translateY(50%);
				}

				@include from(large) {
					right: 100%;
				}
			}
		}
	}
}

// HOMEPAGE SECTION B

.home-section-b {
	margin-bottom: 30px;

	.home-section {
		&__copy {
			@include from(medium) {
				order: 2;
				margin-right: 0;
			}

			@include from(large) {
				order: 2;
				margin-right: percentage(96/800);
			}
		}

		&__image {
			@include from(medium) {
				order: 1;
				width: percentage(347/800);
				margin-left: percentage(-80/800);
				margin-right: percentage(100/800);
			}

			@include from(xlarge) {
				margin-left: percentage(-100/800);
				margin-right: percentage(80/800);
			}

			@include from(xxxlarge) {
				margin-left: percentage(-360/800);
				margin-right: percentage(137/800);
			}
		}

		&__floater {
			@include from(medium) {
				order: 3;
				width: percentage(476/800);
				right: unset;
				left: calc(100% - 80px);
			}

			img {
				width: percentage(250/280);
				transform: translateY(-55%);
				right: percentage(-8/280);

				@include from(medium) {
					width: 100%;
					right: auto;
					tranform: none;
				}
			}
		}
	}
}

// HOMEPAGE SECTION C

.home-section-c {
	margin-bottom: 80px;

	.home-section {
		&__copy {
			@include from(medium) {
				margin-right: percentage(96/800);
			}

			@include from(xxxlarge) {
				margin-left: percentage(188/800);
				margin-right: percentage(126/800);
			}
		}

		&__image {
			@include from(medium) {
				width: percentage(313/800);
				margin-right: percentage(-80/800);
			}

			@include from(xlarge) {
				margin-right: percentage(-100/800);
			}

			@include from(xxxlarge) {
				margin-right: percentage(-330/800);
			}
		}

		&__floater {
			@include from(medium) {
				width: percentage(476/800);
				right: calc(100% - #{percentage(200/800)});
			}

			@include from(large) {
				right: calc(100% - #{percentage(100/800)});
			}

			img {
				width: percentage(250/280);
				transform: translateY(-55%);
				right: percentage(-8/280);

				@include from(medium) {
					width: 100%;
					right: auto;
					tranform: none;
				}
			}
		}
	}
}

// HOMEPAGE SECTION D

.home-section-d {
	margin-bottom: 50px;

	.home-section {
		&__copy {
			@include from(medium) {
				order: 2;
				margin-left: percentage(96/800);
			}

			@include from(xxxlarge) {
				margin-left: percentage(141/800);
				margin-right: percentage(157/800);
			}
		}

		&__image {
			@include from(medium) {
				order: 1;
				width: percentage(313/800);
				margin-left: percentage(-80/800);
			}

			@include from(xxxlarge) {
				order: 1;
				width: percentage(330/800);
				margin-left: percentage(-360/800);
			}
		}

		&__floater {
			@include from(medium) {
				width: percentage(1270/800);
				left: calc(100% - #{percentage(300/800)});
			}

			@include from(large) {
				left: calc(100% - #{percentage(200/800)});
			}

			img {
				transform: translateY(-40%);
			}
		}
	}
}

// HOME FORM

.home-form {
	margin-bottom: 50px;

	.home-section {
		&__copy {
			@include from(medium) {
				width: percentage(600/800);
				margin-left: auto;
				margin-right: -80px;
			}

			@include from(xlarge) {
				width: percentage(587/800);
				margin-right: percentage(-103/800);
			}
		}

		&__floater {
			@include from(medium) {
				right: calc(100% - #{percentage(400/800)});
				width: percentage(1273/800);
			}

			img {
				transform: translateY(-50%);

				@include from(xlarge) {
					transform: translateY(-38%);
				}
			}
		}
	}

	.form-copy {
		@include font-primary;
		@include type((
			font-size: 18px,
			letter-spacing: .75px,
			line-height: 22px,
		));
		text-align: left;
		color: $color-black;
		margin-bottom: 30px;
	}

	.input-block {
		margin-bottom: 15px;
	}

	input {
		height: 45px !important;
	}

	button[type="submit"] {
		width: 100%;
		margin-top: 30px;
		font-size: 14px;
		height: 45px;
	}
}
